body {
    margin:0px;
    height:1000px;
    background:#98ddce;
    background-size:100% 100%;
    font-family: "Microsoft YaHei"，Georgia, "Times New Roman", Times, serif;
}

#fyh {
    width:143px;
    height:200px;
    border:2px solid #53a392;
}

#fyh img {
    height:200px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    background-color: white;
    height: 160px;
}

aside {
    background-color:#CCFFFF;
}

nav {
    background-color: #FFCCCC;
}

#navigate {
    background-color: #FFCCCC;
}

aside,.main h2 {
    color:#07c667;
}

.item-name:hover{
    background-color:#FF99CC;
    color:#CCFFFF;
}

.btbg h2 {
    color:#53a392;
    font-family:楷体;
    font-size: 32px;
}

.btbg h3 {
    color:#53a392;
    font-size: 16px;
}

.sub-nav {
    background-color:rgb(255,204,204,0.9);
}

#l2 img {
    height:45px;
    margin-top:2.5px;
}

tbody {
    margin-right: auto;
    margin-left:auto;
}

.tr1 div{
    float:left;
    width:200px;
    height:100px;
    margin-top:20px;
}

.tr1 td {
    width:200px;
}

.tr1 {
    height:200px;
}

.xx {
    width:450px;
    float:left;
}

.xx h2,h3{
    width:200px;
    float:left;
}

.btbg{ 
    text-align:center; 
    height:36px;
    /* width:26%; */
}

.btbg1 {
    width:8%;
    text-align:center; 
}

.btbg2{ 
    text-align:center; 
    width:20%;
}


.tabtop {
    width:80%;
    border-collapse:collapse;
    /* border:1px solid black; */
    /* border-spacing:0; */
}

#fyh {
    height:200px;
}

/* .tabtop td {
    height:30px;
} */

.tabtop h2 {
    margin:0px;
}

.btbg0 {
    width:5%;
}

.btbg1 {
    width:12%;
}

.btbg1 img {
    width:20px;
}

.btbg img {
    width:30px;
}

.xtp {
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:8px;
    margin-left:6px;
    float:left;
}

.btbg1 span {
    vertical-align:center;
    line-height:36px;
}

.btbg3 {
    text-align: left;
}

hr {
    border:1.4px dashed #53a392; 
    height:0px;
    vertical-align: middle;
}

.hr1 {
    margin:0px;
    /* margin-top:18px; */
    margin-right:0px;
    width:48px;
    margin-top:12px;
    float:right;
}

.hr2 {
    margin:0px;
    /* margin-top:18px; */
    margin-right:0px;
    width:55px;
    margin-top:12px;
    float:right;
}

.xtp2 {
    display:inline-block;
    width:30px;
    height:20px;
    margin-top:3px;
    margin-left:16px;
    float:left;
}

.btbg span {
    vertical-align: middle;
    line-height:38px;
    float:left;
    margin-left:8px;
    font-weight:25px;
}

.btbg5 {
    text-align: right;
}

.tr1 {
    height:10px;
}

.btbg6 {
    height:10px;
}

.btbg7 span{
    float:right;
}

.ls {
    color:#53a392;
}

.bt {
    width:4.5%;
}

.bt1 {
    width:18%;
}

.bt img {
    width:30px;
    float:right;
}

.bt0 span {
    color:#53a392;
    font-size: 20px;
    margin-left:10px;
}

.bt0 {
    width:18%;
}

.bt1 span {
    margin-left:15px;
    float:left;
    width:100%;
}

.bt2 span {
    margin-left:15px;
    float:left;
    width:100%;
}

.bt2 {
    width:25%;
}

.bt3 {
    width:5%;
}

p {
    margin:0px;
}

tr {
    height:32px;
}

.spec {
    height:100px;
}

.sh {
    margin-bottom:12px;
}

.wz {
    width:85%;
    border:3px dashed #53a392;
}

.wz p {
    text-indent:33px;
    color:black;
    text-align:justify!important;
    line-height:23px;
}

.sp {
    background-color: #CCFFFF;
}

.self {
    background-color:#53a392;
    border-radius:8px;
    width:8px;
    height:8px;
    padding:0;
    margin:0;
    display:inline-block;
}

.c1 {
    width:90%;
}

.c2 {
    width:10%;
}

.tz {
    width:90%;
    height:6px;
    border-radius:10px;
    background-color:gainsboro;
    display:inline-block;
}

.tz1 {
    width:95%;
    height:6px;
    border-radius:10px;
    background-color:#53a392;
    margin-left:-10px;
    margin-top:-10px;
}

.tz2,.tz3 {
    width:92%;
    height:6px;
    border-radius:10px;
    background-color:#53a392;
    margin-left:-10px;
    margin-top:-10px;
}

.tz4 {
    width:90%;
    height:6px;
    border-radius:10px;
    background-color:#53a392;
    margin-left:-10px;
    margin-top:-10px;
}

.tz5 {
    width:88%;
    height:6px;
    border-radius:10px;
    background-color:#53a392;
    margin-left:-10px;
    margin-top:-10px;
}

.word {
    color:black;
}

.wz2 {
    width:85%;
    border:3px dashed #53a392;
}

.c1 {
    color:black;
    font-weight:600;
}

.c3{
    width:70%;
    color:black;
    border-bottom: 1.6px solid #53a392;
}

.c4{
    width:30%;
    color:black;
    border-bottom: 1.6px solid #53a392;
    border-left: 1.6px solid #53a392
}

.sp {
    width:96%;
}

.c5{
    width:70%;
    color:black;
}

.c6{
    width:30%;
    color:black;
    border-left: 1.6px solid #53a392
}
