body {
    margin:0px;
    height:770px;
    background:url(../imgs/thankyou.png) no-repeat center 0;
    background-size:100% 100%;
    font-family: "Microsoft YaHei"，Georgia, "Times New Roman", Times, serif;
}